* {
	box-sizing: border-box;
}

html {
	font-size:62.5%;
}

header ul,ol {
	/*	Reset Firefox default padding*/
	  margin: 0px;
	  padding: 0px;
}

body { 
  background: url(img/pexels-visually-us-1643402-1920-1280.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav,footer {
	background-color: #808080B0;
	border-radius: 1.5rem;
	padding: 0.4%;
	
	display: flex;
	justify-content: space-between;
	align-content: center;
}

nav ul {
	
	display: flex;
	justify-content: space-between;
}

nav li {
	list-style: none;
}

nav li:nthChild(3){
	padding:10rem;
}