@import "node_modules/bootstrap/scss/bootstrap";

html {
	font-size:62.5%;
}

body {
	background: url(img/pexels-visually-us-1643402-1920-1280.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: #FFFFFFA0;
	font-size:1.5em;
}

.menu li {
		margin: 1rem;
}

section {
	background-color: #FFFFFFA0;
	font-size: 1.5em;
}

#about article {
		background-color: #FFFFFFB0;
		padding: 4rem;
		text-align: center;
	.lead{
		font-size: 1.5em;
	}
}

#contact {
	text-align: center;

	img {
		object-fit: cover;
		height: 15rem;
		width: 15rem;
	}

}